@font-face {
    font-family: "Cabin";
    src: url("../font/Cabin-Regular.eot");
    src: url("../font/Cabin-Regular.eot?#iefix") format("embedded-opentype"),
        url("../font/Cabin-Regular.woff2") format("woff2"),
        url("../font/Cabin-Regular.woff") format("woff"),
        url("../font/Cabin-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabin";
    src: url("../font/Cabin-Medium.eot");
    src: url("../font/Cabin-Medium.eot?#iefix") format("embedded-opentype"),
        url("../font/Cabin-Medium.woff2") format("woff2"),
        url("../font/Cabin-Medium.woff") format("woff"),
        url("../font/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cabin";
    src: url("../font/Cabin-Bold.eot");
    src: url("../font/Cabin-Bold.eot?#iefix") format("embedded-opentype"),
        url("../font/Cabin-Bold.woff2") format("woff2"),
        url("../font/Cabin-Bold.woff") format("woff"),
        url("../font/Cabin-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// =====================================================================

@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Book.eot");
    src: url("../font/Gotham-Book.eot?#iefix") format("embedded-opentype"),
        url("../font/Gotham-Book.woff2") format("woff2"),
        url("../font/Gotham-Book.woff") format("woff"),
        url("../font/Gotham-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Medium.eot");
    src: url("../font/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
        url("../font/Gotham-Medium.woff2") format("woff2"),
        url("../font/Gotham-Medium.woff") format("woff"),
        url("../font/Gotham-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("../font/Gotham-Bold.eot");
    src: url("../font/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
        url("../font/Gotham-Bold.woff2") format("woff2"),
        url("../font/Gotham-Bold.woff") format("woff"),
        url("../font/Gotham-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
