.main-ctnr {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: calc(12px + 1.05vw) 0; /* Responsive margins */
}

h1 {
    font-size: 1.912em;
    line-height: calc(18px + 1.8vw); /* Responsive Vertical Rhythm */
}
h2 {
    font-size: 1.616em;
    line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}
h3 {
    font-size: 1.471em;
    line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.243em;
}
h6 {
    font-size: 1.132em;
}

h4,
h5,
h6 {
    line-height: calc(18px + 0.2vw); /* Responsive Vertical Rhythm */
}

@media (hover: none) {
    body {
        font-size: calc(12px + 1.2vw); /* was 0.35vw  */
        line-height: calc(12px + 2.7vw); /* was 1.05vw */
    }

    h1 {
        font-size: 1.912em;
        line-height: calc(18px + 4.6vw); /* was 1.8vw */
    }

    h2 {
        font-size: 1.616em;
        line-height: calc(18px + 3.6vw); /* was 1vw */
    }

    h3 {
        font-size: 1.471em;
        line-height: calc(18px + 3.6vw); /* was 0.7vw */
    }
    h4,
    h5,
    h6 {
        line-height: calc(18px + 2.6vw); /* was .2vw */
    }
}
