@import "font.scss";

// Variables ======================
$clr-background: #23232f;
$clr-white: #ffff;
$clr-blue: #676eff;
$clr-text: #72748e;

body {
    background-color: $clr-background;
    color: $clr-white;
}

.hero p:first-of-type {
    font-family: "Cabin";
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20rem;
}

.hero p:last-of-type {
    font-family: Gotham;
}
