@import "font.scss";

// Variables ======================
$clr-background: #23232f;
$clr-white: #ffff;
$clr-blue: #676eff;
$clr-text: #72748e;
$clr-text2: #72748e27;

$break-556px: 34.75rem;
$break-800px: 50rem;
$break-968px: 60.5rem;
$break-1300px: 81.25rem;

// (86*16) +  (24* 15) = 1736px

$baseFZ: 16;
$baseVW: 0.490625vw;

@mixin fontSize($fz, $fluidFZ, $lineHeight, $marginB: 0) {
    font-size: calc($fluidFZ / $baseFZ + $baseVW);
    line-height: calc($lineHeight / $fz);
    margin-bottom: calc($marginB / $fz);
}

// =======================================================

body {
    background-color: $clr-background;
    color: $clr-white;
}

// grid template ==================

.grid-12 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 1rem;
}

// Hero section ===================

.hero {
    overflow-x: hidden;
    font-family: Gotham;

    // slider-chevrons ============

    &__chevrons {
        grid-column: 12;
        grid-row: 5 / span 2;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;

        @media (min-width: $break-556px) {
            align-self: flex-start;
        }

        .fa-solid {
            @include fontSize(25, 20.4rem, 30);
            margin-bottom: 1em;
            color: $clr-text;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $clr-white;
            }

            @media (min-width: $break-800px) {
                @include fontSize(35, 30.4rem, 30, 40em);
            }
        }
    }

    // greeting hero ==============

    &__greeting {
        display: none;
        text-transform: uppercase;
        grid-row: 2/5;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        align-self: flex-end;
        justify-self: center;
        font-weight: 500;

        @media (min-width: $break-1300px) {
            display: block;
        }
    }

    // moveDown btn ===============

    &__moveDown {
        display: none;
        grid-column: 6;
        grid-row: 6;
        justify-self: center;
        align-self: flex-end;
        cursor: pointer;
        color: $clr-text;
        transition: color 0.3s;

        &:hover {
            color: $clr-white;
        }

        @media (min-width: $break-1300px) {
            display: block;
            @include fontSize(35, 30.4rem, 30, 40em);
        }
    }

    // Social =====================

    &__social {
        display: none;
        grid-row: 5 / span 2;
        align-self: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0.5em;
        @include fontSize(20, 15.4rem, 30);

        .fa-brands {
            margin-bottom: 1.36em;
            cursor: pointer;
            transition: color 0.3s;

            &:hover {
                color: $clr-blue;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @media (min-width: $break-1300px) {
            display: flex;
        }
    }

    // Fraction ===================

    &__fraction {
        display: none;
        position: relative;

        justify-content: space-between;
        grid-row: 6;
        grid-column: 5 / span 4;
        align-self: center;
        @include fontSize(18, 14.4rem, 30);

        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 50%;
            background-color: $clr-text;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (min-height: 46.875rem) {
            display: flex;
        }

        @media (min-width: $break-1300px) {
            grid-column: 9 / span 3;
            // align-self: flex-end;
            // margin-bottom: 1rem;
        }
    }

    &__curentSlide {
        color: $clr-blue;
    }

    // &__AllSlides {
    // }

    // slider section =============

    &__slider {
        grid-row: 2 / span 4;
        grid-column: 1 / span 11;
        position: relative;

        @media (min-width: $break-1300px) {
            grid-column: 2 / span 10;
        }
    }

    // Single slide ===============

    &__slide {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        row-gap: 0.625rem;

        @media (min-width: $break-556px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // Add to Cart ===============

    &__add {
        position: absolute;
        z-index: 10;
        bottom: -1rem;
        cursor: pointer;

        @media (min-width: $break-556px) {
            bottom: -30%;
        }

        @media (min-width: $break-800px) {
            bottom: 0;
        }
    }

    &__addCircle {
        width: 1.875rem;
        height: 1.875rem;
        border: 1px solid $clr-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        display: inline-flex;
        @include fontSize(20, 14.4rem, 30);

        @media (min-width: $break-556px) {
            width: calc(1.8rem + 1.5vw);
            height: calc(1.8rem + 1.5vw);
            @include fontSize(22, 16.4rem, 30);
        }
    }

    &__addText {
        display: inline-block;
        @include fontSize(18, 14.4rem, 30);
        margin-left: 0.6em;
    }

    // back name category   =========

    &__backName {
        position: absolute;
        z-index: -1;
        left: -2rem;
        top: 45%;
        transform: translateY(-50%);

        color: #72748e59;
        font-size: calc(5rem + 1vw);
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: $break-556px) {
            top: -3rem;
            font-size: calc(7rem + 1vw);
        }

        @media (min-width: $break-968px) {
            top: 50%;
            font-size: calc(10rem + 1vw);
        }

        @media (min-width: $break-1300px) {
            left: -14%;
            font-size: calc(14rem + 1vw);
        }
    }

    // columns ====================

    .flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__column {
        align-self: center;
        img {
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
    }

    // Name and price of prod ====

    &__productName {
        font-weight: 700;
        @include fontSize(30, 25.4rem, 40, 25em);

        @media (min-width: $break-556px) {
            @include fontSize(40, 35.4rem, 50, 35em);
        }

        @media (min-width: $break-968px) {
            @include fontSize(55, 50.4rem, 60, 35em);
        }

        @media (min-width: $break-1300px) {
            @include fontSize(65, 60.4rem, 80, 35em);
        }
    }

    &__price {
        font-family: Cabin;
        @include fontSize(25, 19.4rem, 40);

        @media (min-width: $break-556px) {
            @include fontSize(30, 24.4rem, 40, 35em);
        }

        @media (min-width: $break-968px) {
            @include fontSize(35, 30.4rem, 40, 35em);
        }
    }

    &__prevPrice {
        color: $clr-text;
        text-decoration: line-through;
        margin-right: 1em;
    }

    &__curentPrice {
        color: $clr-blue;
    }
}

.hero__slide.active {
    opacity: 1;

    img {
        animation-name: productAppear;
        animation-duration: 1.5s;
    }

    .hero__productName {
        animation-name: productNameAppear;
        animation-duration: 1s;
    }

    .hero__backName {
        animation-name: backNameSlideInLeft;
        animation-duration: 1.5s;
    }

    .hero__price {
        animation-name: priceAppear;
        animation-duration: 2.4s;
    }

    .hero__add {
        overflow: hidden;
        white-space: nowrap;
        animation-name: write;
        animation-duration: 2.4s;
    }
}

// Keqyframes ======================

@keyframes productAppear {
    from {
        opacity: 0;
        left: 3rem;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes productNameAppear {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes backNameSlideInLeft {
    0% {
        transform: translate3d(-100%, -50%, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0, -50%, 0);
    }
}

@keyframes priceAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes write {
    0% {
        // transform: translateY(50%);
        opacity: 0;

        width: 0px;
    }
    100% {
        // transform: translateY(0);
        opacity: 1;
        width: 100%;
    }
}

@keyframes productDisAppear {
    from {
        opacity: 1;
        left: 0;
    }
    to {
        opacity: 0;
        left: -2rem;
    }
}
