{"version":3,"sources":["font.scss"],"names":[],"mappings":"AAAA;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAKJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA","file":"font.css","sourcesContent":["@font-face {\r\n    font-family: \"Cabin\";\r\n    src: url(\"font/Cabin-Regular.eot\");\r\n    src: url(\"font/Cabin-Regular.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Cabin-Regular.woff2\") format(\"woff2\"),\r\n        url(\"font/Cabin-Regular.woff\") format(\"woff\"),\r\n        url(\"font/Cabin-Regular.ttf\") format(\"truetype\");\r\n    font-weight: normal;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Cabin\";\r\n    src: url(\"font/Cabin-Medium.eot\");\r\n    src: url(\"font/Cabin-Medium.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Cabin-Medium.woff2\") format(\"woff2\"),\r\n        url(\"font/Cabin-Medium.woff\") format(\"woff\"),\r\n        url(\"font/Cabin-Medium.ttf\") format(\"truetype\");\r\n    font-weight: 500;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Cabin\";\r\n    src: url(\"font/Cabin-Bold.eot\");\r\n    src: url(\"font/Cabin-Bold.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Cabin-Bold.woff2\") format(\"woff2\"),\r\n        url(\"font/Cabin-Bold.woff\") format(\"woff\"),\r\n        url(\"font/Cabin-Bold.ttf\") format(\"truetype\");\r\n    font-weight: 700;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n// =====================================================================\r\n\r\n@font-face {\r\n    font-family: \"Gotham\";\r\n    src: url(\"font/Gotham-Book.eot\");\r\n    src: url(\"font/Gotham-Book.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Gotham-Book.woff2\") format(\"woff2\"),\r\n        url(\"font/Gotham-Book.woff\") format(\"woff\"),\r\n        url(\"font/Gotham-Book.ttf\") format(\"truetype\");\r\n    font-weight: normal;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Gotham\";\r\n    src: url(\"font/Gotham-Medium.eot\");\r\n    src: url(\"font/Gotham-Medium.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Gotham-Medium.woff2\") format(\"woff2\"),\r\n        url(\"font/Gotham-Medium.woff\") format(\"woff\"),\r\n        url(\"font/Gotham-Medium.ttf\") format(\"truetype\");\r\n    font-weight: 500;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Gotham\";\r\n    src: url(\"font/Gotham-Bold.eot\");\r\n    src: url(\"font/Gotham-Bold.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Gotham-Bold.woff2\") format(\"woff2\"),\r\n        url(\"font/Gotham-Bold.woff\") format(\"woff\"),\r\n        url(\"font/Gotham-Bold.ttf\") format(\"truetype\");\r\n    font-weight: 700;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n"]}
@font-face {
  font-family: "Cabin";
  src: url("font/Cabin-Regular.eot");
  src: url("font/Cabin-Regular.eot?#iefix") format("embedded-opentype"), url("font/Cabin-Regular.woff2") format("woff2"), url("font/Cabin-Regular.woff") format("woff"), url("font/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  src: url("font/Cabin-Medium.eot");
  src: url("font/Cabin-Medium.eot?#iefix") format("embedded-opentype"), url("font/Cabin-Medium.woff2") format("woff2"), url("font/Cabin-Medium.woff") format("woff"), url("font/Cabin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  src: url("font/Cabin-Bold.eot");
  src: url("font/Cabin-Bold.eot?#iefix") format("embedded-opentype"), url("font/Cabin-Bold.woff2") format("woff2"), url("font/Cabin-Bold.woff") format("woff"), url("font/Cabin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("font/Gotham-Book.eot");
  src: url("font/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("font/Gotham-Book.woff2") format("woff2"), url("font/Gotham-Book.woff") format("woff"), url("font/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("font/Gotham-Medium.eot");
  src: url("font/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("font/Gotham-Medium.woff2") format("woff2"), url("font/Gotham-Medium.woff") format("woff"), url("font/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("font/Gotham-Bold.eot");
  src: url("font/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("font/Gotham-Bold.woff2") format("woff2"), url("font/Gotham-Bold.woff") format("woff"), url("font/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=font.css.map */

{"version":3,"sources":["null.scss"],"names":[],"mappings":";AAAA;AACA;EACI;EACA;EACA;;;AAEJ;AAAA;AAAA;EAGI;EACA;EACA;;;AAEJ;AAAA;EAEI;;;AAEJ;AAAA;EAEI;;;AAEJ;AAAA;AAAA;AAAA;EAII;;;AAEJ;AAAA;EAEI;EACA;EACA;EACA;EAEA;EACA;EACA;;;AAEJ;AAAA;AAAA;EAGI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;EACA;;;AAEJ;AAAA;EAEI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;EACI;;;AAEJ;AAAA;AAAA;AAAA;AAAA;AAAA;EAMI;EACA;;;AAEJ","file":"null.css","sourcesContent":["/*Обнуление*/\r\n* {\r\n    padding: 0;\r\n    margin: 0;\r\n    border: 0;\r\n}\r\n*,\r\n*:before,\r\n*:after {\r\n    -moz-box-sizing: border-box;\r\n    -webkit-box-sizing: border-box;\r\n    box-sizing: border-box;\r\n}\r\n:focus,\r\n:active {\r\n    outline: none;\r\n}\r\na:focus,\r\na:active {\r\n    outline: none;\r\n}\r\nnav,\r\nfooter,\r\nheader,\r\naside {\r\n    display: block;\r\n}\r\nhtml,\r\nbody {\r\n    height: 100%;\r\n    width: 100%;\r\n    font-size: 100%;\r\n    line-height: 1;\r\n    // font-size: 14px;\r\n    -ms-text-size-adjust: 100%;\r\n    -moz-text-size-adjust: 100%;\r\n    -webkit-text-size-adjust: 100%;\r\n}\r\ninput,\r\nbutton,\r\ntextarea {\r\n    font-family: inherit;\r\n}\r\ninput::-ms-clear {\r\n    display: none;\r\n}\r\nbutton {\r\n    cursor: pointer;\r\n}\r\nbutton::-moz-focus-inner {\r\n    padding: 0;\r\n    border: 0;\r\n}\r\na,\r\na:visited {\r\n    text-decoration: none;\r\n}\r\na:hover {\r\n    text-decoration: none;\r\n}\r\nul li {\r\n    list-style: none;\r\n}\r\nimg {\r\n    vertical-align: top;\r\n}\r\nh1,\r\nh2,\r\nh3,\r\nh4,\r\nh5,\r\nh6 {\r\n    font-size: inherit;\r\n    font-weight: inherit;\r\n}\r\n/*--------------------*/\r\n"]}
@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*# sourceMappingURL=null.css.map */

{"version":3,"sources":[],"names":[],"mappings":"","file":"responsiveFont.css","sourcesContent":[]}

/*# sourceMappingURL=responsiveFont.css.map */

{"version":3,"sources":["font.scss","style.scss"],"names":[],"mappings":"AAAA;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAKJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAIA;EACA;EACA;;AC5CJ;EACI,kBAzBa;EA0Bb,OAzBQ;EA0BR;;;AAKJ;EACI;EACA;EACA;EACA;EACA;;;AAKJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAKJ;EACI;EACA;EACA;EAEA;;AAEA;EACI;EACA;EACA;EACA;EACA,kBAtEG;EAuEH;EACA;EACA;;AAGJ;EAlBJ;IAmBQ;;;;AAIR;EACI,OAnFO;;;AAwFX;EACI;EACA;EACA;;AAEA;EACI;EACA,OA9FG;EA+FH;EACA;;AAEA;EACI,OArGA;;;AA4GZ;EACI;EACA;EACA;EACA;EACA;;AAEA;EAPJ;IAQQ;;;;AAMR;EACI;EACA;EACA;EACA;EACA;;;AAKJ;EACI;EACA,OArIO;;;AA0IX;EACI;;AAIA;EACI;EACA;EACA;;AAEA;EALJ;IAMQ;;;AAGJ;EAzIJ;EACA;EACA;;AA0IQ;EAHJ;IAzIJ;IACA;IACA;;;AAkJA;EACI;EACA;EACA;;AAKJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA,OAjLG;EAkLH;;AAEA;EACI,OAvLA;;AA0LJ;EAdJ;IAeQ;IA3KR;IACA;IACA;;;AAgLA;EACI;EACA;EACA;EACA;EACA;EACA;EAxLJ;EACA;EACA;;AAyLI;EACI;EACA;EACA;;AAEA;EACI,OAhNL;;AAmNC;EACI;;AAIR;EAvBJ;IAwBQ;;;AAMR;EACI;EACA;EAlNJ;EACA;EACA;;AAmNI;EALJ;IAMQ;;;AAMR;EACI;EACA;EACA;;AAEA;EALJ;IAMQ;;;AAMR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAVJ;IAWQ;IACA;IACA;IACA;;;AAMR;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;AAGJ;EAVJ;IAWQ;;;AAIR;EA3QA;EACA;EACA;;AA4QI;EAHJ;IAIQ;IACA;IAhRR;IACA;IACA;;;AAmRA;EArRA;EACA;EACA;;AAyRA;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;IACA;;;AAGJ;EAXJ;IAYQ;IACA;;;AAGJ;EAhBJ;IAiBQ;IACA;;;AAMR;EACI;EACA;EACA;;AAGJ;EACI;;AACA;EACI;EACA;EACA;;AAMR;EACI;EArUJ;EACA;EACA;;AAsUI;EAJJ;IApUA;IACA;IACA;;;AA0UI;EARJ;IApUA;IACA;IACA;;;AA8UI;EAZJ;IApUA;IACA;IACA;;;AAmVA;EACI;EAtVJ;EACA;EACA;;AAuVI;EAJJ;IArVA;IACA;IACA;;;AA2VI;EARJ;IArVA;IACA;IACA;;;AAgWA;EACI,OAjXG;EAkXH;EACA;;AAGJ;EACI,OAxXG;;;AA4XX;EACI;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAUR;EACI;EACA;EACA;;AAEA;EALJ;IAMQ;;;;AAGR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;IACI;IACA;;EAEJ;IACI;IACA;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;;AAGJ;EACI;EAlcJ;EACA;EACA;;AAmcI;EAJJ;IAKQ;;;AAIR;EACI;;AAGJ;EACI,OA7dG;EAcP;EACA;EACA;;AAidA;EAndA;EACA;EACA;;AAqdA;EACI;EACA;;AAGJ;EACI;EA7dJ;EACA;EACA;;AAqeA;EACI;EACA;;AACA;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;AAGJ;EAVJ;IAWQ;;;AAGJ;EAdJ;IAeQ;;;AAGJ;EAlBJ;IAmBQ;;;AAIR;EACI;EACA;;AAEA;EAJJ;IAKQ;;;AAIR;EACI;EACA;EACA;;;AAOZ;EACI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EAEA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;AAGJ;EAVJ;IAWQ;;;AAQR;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;;AACA;EAHJ;IAIQ;;;AAGJ;EAPJ;IAQQ;;;AAUR;EACI;EACA;EAjmBJ;EACA;EACA;;AAmmBI;EANJ;IA/lBA;IACA;IACA;;;AAwmBA;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;;AAcZ;EACI;EACA;;AAEA;EACI;;AACA;EACI;;AAIR;EACI;EACA;EACA;;AAGJ;EACI;EAjpBJ;EACA;EACA;;AAmpBA;EArpBA;EACA;EACA;EAqpBI,OArqBG;;AAwqBP;EA1pBA;EACA;EACA;EA0pBI;;AAGJ;EACI;EACA;;AAEA;EAJJ;IAKQ;IACA;;;AAGJ;EACI;;AAEA;EAHJ;IAIQ;;;AAKZ;EACI;;AACA;EAFJ;IAjrBA;IACA;IACA;;;;AAurBJ;EACI;;;AAIJ;EACI;IACI;;EAEJ;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAEJ;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;IACA;;EAEJ;IACI;IACA;;;AAIR;EACI;IACI;IACA;;EAEJ;IACI;IACA;;;AAIR;EACI;IACI;IACA;;EAEJ;IACI;;;AAIR;EACI;IACI;;EAEJ;IACI;;;AAIR;EACI;IAEI;IAEA;;EAEJ;IAEI;IACA;;;AAIR;EACI;IACI;IACA;;EAEJ;IACI;IACA","file":"style.css","sourcesContent":["@font-face {\r\n    font-family: \"Cabin\";\r\n    src: url(\"font/Cabin-Regular.eot\");\r\n    src: url(\"font/Cabin-Regular.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Cabin-Regular.woff2\") format(\"woff2\"),\r\n        url(\"font/Cabin-Regular.woff\") format(\"woff\"),\r\n        url(\"font/Cabin-Regular.ttf\") format(\"truetype\");\r\n    font-weight: normal;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Cabin\";\r\n    src: url(\"font/Cabin-Medium.eot\");\r\n    src: url(\"font/Cabin-Medium.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Cabin-Medium.woff2\") format(\"woff2\"),\r\n        url(\"font/Cabin-Medium.woff\") format(\"woff\"),\r\n        url(\"font/Cabin-Medium.ttf\") format(\"truetype\");\r\n    font-weight: 500;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Cabin\";\r\n    src: url(\"font/Cabin-Bold.eot\");\r\n    src: url(\"font/Cabin-Bold.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Cabin-Bold.woff2\") format(\"woff2\"),\r\n        url(\"font/Cabin-Bold.woff\") format(\"woff\"),\r\n        url(\"font/Cabin-Bold.ttf\") format(\"truetype\");\r\n    font-weight: 700;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n// =====================================================================\r\n\r\n@font-face {\r\n    font-family: \"Gotham\";\r\n    src: url(\"font/Gotham-Book.eot\");\r\n    src: url(\"font/Gotham-Book.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Gotham-Book.woff2\") format(\"woff2\"),\r\n        url(\"font/Gotham-Book.woff\") format(\"woff\"),\r\n        url(\"font/Gotham-Book.ttf\") format(\"truetype\");\r\n    font-weight: normal;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Gotham\";\r\n    src: url(\"font/Gotham-Medium.eot\");\r\n    src: url(\"font/Gotham-Medium.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Gotham-Medium.woff2\") format(\"woff2\"),\r\n        url(\"font/Gotham-Medium.woff\") format(\"woff\"),\r\n        url(\"font/Gotham-Medium.ttf\") format(\"truetype\");\r\n    font-weight: 500;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n\r\n@font-face {\r\n    font-family: \"Gotham\";\r\n    src: url(\"font/Gotham-Bold.eot\");\r\n    src: url(\"font/Gotham-Bold.eot?#iefix\") format(\"embedded-opentype\"),\r\n        url(\"font/Gotham-Bold.woff2\") format(\"woff2\"),\r\n        url(\"font/Gotham-Bold.woff\") format(\"woff\"),\r\n        url(\"font/Gotham-Bold.ttf\") format(\"truetype\");\r\n    font-weight: 700;\r\n    font-style: normal;\r\n    font-display: swap;\r\n}\r\n","@import \"font.scss\";\r\n\r\n// Variables ======================\r\n$clr-background: #23232f;\r\n$clr-white: #ffff;\r\n$clr-blue: #676eff;\r\n$clr-text: #72748e;\r\n$clr-text2: #72748e27;\r\n\r\n$break-556px: 34.75rem;\r\n$break-800px: 50rem;\r\n$break-968px: 60.5rem;\r\n$break-1300px: 81.25rem;\r\n\r\n// (86*16) +  (24* 15) = 1736px\r\n\r\n$baseFZ: 16;\r\n$baseVW: 0.490625vw;\r\n\r\n@mixin fontSize($fz, $fluidFZ, $lineHeight, $marginB: 0) {\r\n    font-size: calc($fluidFZ / $baseFZ + $baseVW);\r\n    line-height: calc($lineHeight / $fz);\r\n    margin-bottom: calc($marginB / $fz);\r\n}\r\n\r\n// =======================================================\r\n\r\nbody {\r\n    background-color: $clr-background;\r\n    color: $clr-white;\r\n    font-family: Gotham;\r\n}\r\n\r\n// grid template ==================\r\n\r\n.grid-12 {\r\n    height: 100vh;\r\n    display: grid;\r\n    grid-template-columns: repeat(12, 1fr);\r\n    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;\r\n    margin: 0 1rem;\r\n}\r\n\r\n// Add to cart btn ==================\r\n\r\n.circle {\r\n    width: 1.875rem;\r\n    height: 1.875rem;\r\n    border: 1px solid $clr-blue;\r\n    display: flex;\r\n    align-items: center;\r\n    justify-content: center;\r\n    border-radius: 50%;\r\n    display: inline-flex;\r\n}\r\n\r\n.callToAction {\r\n    display: inline-block;\r\n    margin-left: 0.6em;\r\n    text-transform: uppercase;\r\n}\r\n\r\n// Fraction ==================\r\n\r\n.fraction {\r\n    display: none;\r\n    position: relative;\r\n    justify-content: space-between;\r\n\r\n    align-self: center;\r\n\r\n    &::after {\r\n        position: absolute;\r\n        content: \"\";\r\n        height: 3px;\r\n        width: 50%;\r\n        background-color: $clr-text;\r\n        top: 50%;\r\n        left: 50%;\r\n        transform: translate(-50%, -50%);\r\n    }\r\n\r\n    @media (min-height: 46.875rem) {\r\n        display: flex;\r\n    }\r\n}\r\n\r\n.curentSlide {\r\n    color: $clr-blue;\r\n}\r\n\r\n// Chevrons =====================\r\n\r\n.chevrons {\r\n    display: flex;\r\n    flex-direction: column;\r\n    align-items: center;\r\n\r\n    .fa-solid {\r\n        margin-bottom: 1em;\r\n        color: $clr-text;\r\n        cursor: pointer;\r\n        transition: color 0.3s;\r\n\r\n        &:hover {\r\n            color: $clr-white;\r\n        }\r\n    }\r\n}\r\n\r\n// vertical-txt =================\r\n\r\n.vertical-txt {\r\n    display: none;\r\n    text-transform: uppercase;\r\n    writing-mode: vertical-lr;\r\n    transform: rotate(180deg);\r\n    font-weight: 500;\r\n\r\n    @media (min-width: $break-1300px) {\r\n        display: block;\r\n    }\r\n}\r\n\r\n// back name ====================\r\n\r\n.backName {\r\n    position: absolute;\r\n    z-index: -1;\r\n    color: #72748e1d;\r\n    font-weight: 700;\r\n    text-transform: uppercase;\r\n}\r\n\r\n// curent price =================\r\n\r\n.curentPrice {\r\n    font-family: Cabin;\r\n    color: $clr-blue;\r\n}\r\n\r\n// Hero section ===============================================\r\n\r\n.hero {\r\n    overflow-x: hidden;\r\n\r\n    // slider-chevrons ============\r\n\r\n    &__chevrons {\r\n        grid-column: 12;\r\n        grid-row: 5 / span 2;\r\n        align-self: center;\r\n\r\n        @media (min-width: $break-556px) {\r\n            align-self: flex-start;\r\n        }\r\n\r\n        .fa-solid {\r\n            @include fontSize(25, 20.4rem, 30);\r\n\r\n            @media (min-width: $break-800px) {\r\n                @include fontSize(35, 30.4rem, 30, 40em);\r\n            }\r\n        }\r\n    }\r\n\r\n    // greeting hero ==============\r\n\r\n    &__vertical-txt {\r\n        grid-row: 2/5;\r\n        align-self: flex-end;\r\n        justify-self: center;\r\n    }\r\n\r\n    // moveDown btn ===============\r\n\r\n    &__moveDown {\r\n        display: none;\r\n        grid-column: 6;\r\n        grid-row: 6;\r\n        justify-self: center;\r\n        align-self: flex-end;\r\n        cursor: pointer;\r\n        color: $clr-text;\r\n        transition: color 0.3s;\r\n\r\n        &:hover {\r\n            color: $clr-white;\r\n        }\r\n\r\n        @media (min-width: $break-1300px) {\r\n            display: block;\r\n            @include fontSize(35, 30.4rem, 30, 40em);\r\n        }\r\n    }\r\n\r\n    // Social =====================\r\n\r\n    &__social {\r\n        display: none;\r\n        grid-row: 5 / span 2;\r\n        align-self: center;\r\n        align-items: center;\r\n        flex-direction: column;\r\n        margin-right: 0.5em;\r\n        @include fontSize(20, 15.4rem, 30);\r\n\r\n        .fa-brands {\r\n            margin-bottom: 1.36em;\r\n            cursor: pointer;\r\n            transition: color 0.3s;\r\n\r\n            &:hover {\r\n                color: $clr-blue;\r\n            }\r\n\r\n            &:last-of-type {\r\n                margin-bottom: 0;\r\n            }\r\n        }\r\n\r\n        @media (min-width: $break-1300px) {\r\n            display: flex;\r\n        }\r\n    }\r\n\r\n    // Fraction ===================\r\n\r\n    &__fraction {\r\n        grid-row: 6;\r\n        grid-column: 5 / span 4;\r\n        @include fontSize(18, 14.4rem, 30);\r\n\r\n        @media (min-width: $break-1300px) {\r\n            grid-column: 9 / span 3;\r\n        }\r\n    }\r\n\r\n    // slider section =============\r\n\r\n    &__slider {\r\n        grid-row: 2 / span 4;\r\n        grid-column: 1 / span 11;\r\n        position: relative;\r\n\r\n        @media (min-width: $break-1300px) {\r\n            grid-column: 2 / span 10;\r\n        }\r\n    }\r\n\r\n    // Single slide ===============\r\n\r\n    &__slide {\r\n        position: absolute;\r\n        left: 0;\r\n        right: 0;\r\n        opacity: 0;\r\n        display: grid;\r\n        grid-template-columns: 1fr;\r\n        grid-template-rows: 0.5fr 1fr;\r\n        row-gap: 0.625rem;\r\n\r\n        @media (min-width: $break-556px) {\r\n            grid-template-columns: 1fr 1fr;\r\n            grid-template-rows: 1fr;\r\n            top: 50%;\r\n            transform: translateY(-50%);\r\n        }\r\n    }\r\n\r\n    // Add to Cart ===============\r\n\r\n    &__add {\r\n        position: absolute;\r\n        z-index: 10;\r\n        bottom: -1rem;\r\n        cursor: pointer;\r\n\r\n        @media (min-width: $break-556px) {\r\n            bottom: -30%;\r\n        }\r\n\r\n        @media (min-width: $break-800px) {\r\n            bottom: 0;\r\n        }\r\n    }\r\n\r\n    &__addCircle {\r\n        @include fontSize(20, 14.4rem, 30);\r\n\r\n        @media (min-width: $break-556px) {\r\n            width: calc(1.5rem + 1.5vw);\r\n            height: calc(1.5rem + 1.5vw);\r\n            @include fontSize(22, 16.4rem, 30);\r\n        }\r\n    }\r\n\r\n    &__addText {\r\n        @include fontSize(18, 14.4rem, 30);\r\n    }\r\n\r\n    // back name category   =========\r\n\r\n    &__backName {\r\n        left: -2rem;\r\n        top: 45%;\r\n        transform: translateY(-50%);\r\n        font-size: calc(5rem + 1vw);\r\n\r\n        @media (min-width: $break-556px) {\r\n            top: -3rem;\r\n            font-size: calc(7rem + 1vw);\r\n        }\r\n\r\n        @media (min-width: $break-968px) {\r\n            top: 50%;\r\n            font-size: calc(10rem + 1vw);\r\n        }\r\n\r\n        @media (min-width: $break-1300px) {\r\n            left: -14%;\r\n            font-size: calc(14rem + 1vw);\r\n        }\r\n    }\r\n\r\n    // columns ====================\r\n\r\n    .flex {\r\n        display: flex;\r\n        justify-content: center;\r\n        flex-direction: column;\r\n    }\r\n\r\n    &__column {\r\n        align-self: center;\r\n        img {\r\n            position: relative;\r\n            max-width: 100%;\r\n            max-height: 100%;\r\n        }\r\n    }\r\n\r\n    // Name and price of prod ====\r\n\r\n    &__productName {\r\n        font-weight: 700;\r\n        @include fontSize(30, 25.4rem, 40, 25em);\r\n\r\n        @media (min-width: $break-556px) {\r\n            @include fontSize(40, 35.4rem, 50, 35em);\r\n        }\r\n\r\n        @media (min-width: $break-968px) {\r\n            @include fontSize(55, 50.4rem, 60, 35em);\r\n        }\r\n\r\n        @media (min-width: $break-1300px) {\r\n            @include fontSize(65, 60.4rem, 80, 35em);\r\n        }\r\n    }\r\n\r\n    &__price {\r\n        font-family: Cabin;\r\n        @include fontSize(25, 19.4rem, 40);\r\n\r\n        @media (min-width: $break-556px) {\r\n            @include fontSize(30, 24.4rem, 40, 35em);\r\n        }\r\n\r\n        @media (min-width: $break-968px) {\r\n            @include fontSize(35, 30.4rem, 40, 35em);\r\n        }\r\n    }\r\n\r\n    &__prevPrice {\r\n        color: $clr-text;\r\n        text-decoration: line-through;\r\n        margin-right: 1em;\r\n    }\r\n\r\n    &__curentPrice {\r\n        color: $clr-blue;\r\n    }\r\n}\r\n\r\n.hero__slide.active {\r\n    opacity: 1;\r\n\r\n    img {\r\n        animation-name: productAppear;\r\n        animation-duration: 1.5s;\r\n    }\r\n\r\n    .hero__productName {\r\n        animation-name: productNameAppear;\r\n        animation-duration: 1s;\r\n    }\r\n\r\n    .hero__backName {\r\n        animation-name: backNameSlideInLeft;\r\n        animation-duration: 1.5s;\r\n    }\r\n\r\n    .hero__price {\r\n        animation-name: priceAppear;\r\n        animation-duration: 2.4s;\r\n    }\r\n\r\n    .hero__add {\r\n        overflow: hidden;\r\n        white-space: nowrap;\r\n        animation-name: write;\r\n        animation-duration: 2.4s;\r\n    }\r\n}\r\n\r\n// Category section ============================================\r\n\r\n// .category {\r\n//     // &__cart {\r\n//     // }\r\n// }\r\n.grid-2 {\r\n    display: grid;\r\n    grid-template-rows: 1fr;\r\n    grid-auto-rows: auto;\r\n\r\n    @media (min-width: $break-800px) {\r\n        grid-template-columns: 1fr 1fr;\r\n    }\r\n}\r\n.cg-cart {\r\n    border: 2px solid $clr-text;\r\n    display: grid;\r\n    grid-template-rows: repeat(6, 1fr);\r\n    grid-template-columns: 1fr 1fr;\r\n    overflow: hidden;\r\n    position: relative;\r\n    padding-left: 10.5%;\r\n    border-bottom: 0;\r\n    border-left: 0;\r\n    border-right: 0;\r\n    cursor: pointer;\r\n\r\n    @media (hover: hover) {\r\n        &:hover img {\r\n            filter: grayscale(0%);\r\n            animation: moveAround infinite 20s linear;\r\n        }\r\n        &:hover .mousepad {\r\n            filter: grayscale(0%);\r\n            animation: moveAroundPods infinite 20s linear;\r\n        }\r\n    }\r\n\r\n    @media (min-width: $break-800px) {\r\n        &:nth-of-type(odd) {\r\n            border-right: 2px solid $clr-text;\r\n        }\r\n\r\n        &:nth-of-type(3) {\r\n            border-bottom: 2px solid $clr-text;\r\n        }\r\n    }\r\n\r\n    &:last-of-type {\r\n        border-bottom: 2px solid $clr-text;\r\n    }\r\n\r\n    &__backName {\r\n        top: 47%;\r\n        @include fontSize(85, 80.5rem, 100);\r\n\r\n        @media (min-width: $break-556px) {\r\n            font-size: calc(7rem + 1vw);\r\n        }\r\n    }\r\n\r\n    &__titleBox {\r\n        grid-row: 2;\r\n    }\r\n\r\n    &__title {\r\n        color: $clr-text;\r\n        @include fontSize(16, 11.4rem, 20, 15em);\r\n    }\r\n\r\n    &__price {\r\n        @include fontSize(25, 20.4rem, 35);\r\n    }\r\n\r\n    &__about {\r\n        grid-row: 4 / span 3;\r\n        align-self: center;\r\n    }\r\n\r\n    &__heading {\r\n        font-weight: 700;\r\n        @include fontSize(25, 20.4rem, 30, 20em);\r\n    }\r\n\r\n    // &__addCircle {\r\n    // }\r\n\r\n    // &__addText {\r\n    // }\r\n\r\n    &__img {\r\n        grid-column: 2;\r\n        grid-row: 1 / span 6;\r\n        img {\r\n            position: relative;\r\n            transform: scale(1.3);\r\n            max-width: 200%;\r\n            transition: filter 0.3s;\r\n\r\n            @media (hover: hover) {\r\n                filter: grayscale(200%);\r\n            }\r\n\r\n            @media (min-width: $break-556px) {\r\n                max-width: 160%;\r\n            }\r\n\r\n            @media (min-width: $break-800px) and (max-width: 63.4375rem) {\r\n                top: 15%;\r\n            }\r\n\r\n            @media (min-width: $break-1300px) {\r\n                max-width: 140%;\r\n            }\r\n        }\r\n\r\n        .keyboard {\r\n            top: 20%;\r\n            right: 20%;\r\n\r\n            @media (min-width: $break-1300px) {\r\n                right: -5%;\r\n            }\r\n        }\r\n\r\n        .mousepad {\r\n            top: 10%;\r\n            right: -40%;\r\n            transform: scale(1.5) rotate(10deg);\r\n        }\r\n    }\r\n}\r\n\r\n// row section ==========================================\r\n\r\n.grid12x6 {\r\n    display: grid;\r\n    grid-template-columns: repeat(12, 1fr);\r\n    grid-template-rows: repeat(6, 1fr);\r\n    gap: 0.5rem;\r\n    margin: 0 1rem;\r\n}\r\n\r\n.row {\r\n    margin-top: calc(1rem + 2.5vw);\r\n    border-bottom: 2px solid $clr-text;\r\n    position: relative;\r\n    overflow-x: hidden;\r\n\r\n    &__title {\r\n        grid-column: 1 / 7;\r\n        grid-row: 1;\r\n        align-self: center;\r\n\r\n        font-size: calc(1.275rem + 0.490625vw);\r\n        font-weight: 700;\r\n    }\r\n\r\n    &__action {\r\n        grid-row: 1;\r\n        grid-column: 6 / 13;\r\n        align-self: center;\r\n        justify-self: flex-end;\r\n        font-weight: 500;\r\n    }\r\n\r\n    &__backName {\r\n        top: 50%;\r\n        left: -3%;\r\n        transform: translateY(-50%);\r\n        font-size: calc(4rem + 5vw);\r\n\r\n        @media (min-width: $break-556px) {\r\n            font-size: calc(7rem + 5vw);\r\n        }\r\n\r\n        @media (min-width: $break-800px) {\r\n            font-size: calc(10rem + 8vw);\r\n        }\r\n\r\n        // @media (min-width: $break-1300px) {\r\n        //     font-size: calc(14rem + 1vw);\r\n        // }\r\n    }\r\n\r\n    &__vertTxt {\r\n        grid-row: 4/7;\r\n        grid-column: 1;\r\n        justify-self: center;\r\n        align-self: flex-start;\r\n    }\r\n\r\n    &__fraction {\r\n        grid-row: 6;\r\n        grid-column: 5/9;\r\n        @media (min-height: 1rem) {\r\n            display: flex;\r\n        }\r\n\r\n        @media (min-width: $break-800px) {\r\n            grid-column: 6/8;\r\n        }\r\n    }\r\n\r\n    // &__curentSlide {\r\n    // }\r\n\r\n    // &__AllSlides {\r\n    // }\r\n\r\n    &__chevrons {\r\n        grid-row: 5/7;\r\n        grid-column: 12;\r\n\r\n        @include fontSize(25, 20.4rem, 30);\r\n\r\n        @media (min-width: $break-800px) {\r\n            @include fontSize(35, 30.4rem, 30, 40em);\r\n        }\r\n    }\r\n\r\n    &__swip {\r\n        grid-row: 2 / span 4;\r\n        grid-column: 1 / 12;\r\n        margin: calc(0.8rem + 1vw) 0;\r\n        align-self: center;\r\n\r\n        @media (min-width: $break-1300px) {\r\n            grid-column: 2 / 12;\r\n        }\r\n    }\r\n\r\n    // &__wrapper {\r\n    // }\r\n\r\n    // &__slide {\r\n    // }\r\n\r\n    // &__card {\r\n    // }\r\n}\r\n\r\n.rw-card {\r\n    display: flex;\r\n    flex-direction: column;\r\n\r\n    &__img {\r\n        text-align: center;\r\n        img {\r\n            max-width: 100%;\r\n        }\r\n    }\r\n\r\n    &__body {\r\n        text-align: center;\r\n        margin-top: calc(0.5rem + 1vw);\r\n        flex: 1;\r\n    }\r\n\r\n    &__name {\r\n        font-weight: 500;\r\n        @include fontSize(20, 15.4rem, 33);\r\n    }\r\n\r\n    &__mark {\r\n        @include fontSize(14, 10.4rem, 20);\r\n        color: $clr-text;\r\n    }\r\n\r\n    &__price {\r\n        @include fontSize(25, 20.4rem, 35, 15em);\r\n        margin-top: 0.45em;\r\n    }\r\n\r\n    &__addCircle {\r\n        width: calc(1.1rem + 1vw);\r\n        height: calc(1.1rem + 1vw);\r\n\r\n        @media (min-width: $break-556px) {\r\n            width: 1.5rem;\r\n            height: 1.5rem;\r\n        }\r\n\r\n        .fa-plus {\r\n            font-size: calc(0.6rem + 1vw);\r\n\r\n            @media (min-width: $break-556px) {\r\n                font-size: 0.8rem;\r\n            }\r\n        }\r\n    }\r\n\r\n    &__addText {\r\n        font-size: calc(0.625rem + 0.5vw);\r\n        @media (min-width: $break-556px) {\r\n            @include fontSize(17, 12.9rem, 29);\r\n        }\r\n    }\r\n}\r\n\r\n.marg {\r\n    margin-top: 500px;\r\n}\r\n// Keyframes ======================\r\n\r\n@keyframes moveAround {\r\n    0% {\r\n        transform: translate(0, 0) scale(1.3);\r\n    }\r\n    25% {\r\n        transform: translate(-8%, 8%) scale(1.3);\r\n    }\r\n\r\n    100% {\r\n        transform: translate(0%, 0%) scale(1.3);\r\n    }\r\n}\r\n\r\n@keyframes moveAroundPods {\r\n    0% {\r\n        transform: translate(0, 0) scale(1.5) rotate(10deg);\r\n    }\r\n    25% {\r\n        transform: translate(-8%, 8%) scale(1.5) rotate(10deg);\r\n    }\r\n\r\n    100% {\r\n        transform: translate(0%, 0%) scale(1.5) rotate(10deg);\r\n    }\r\n}\r\n\r\n@keyframes productAppear {\r\n    from {\r\n        opacity: 0;\r\n        left: 3rem;\r\n    }\r\n    to {\r\n        opacity: 1;\r\n        left: 0;\r\n    }\r\n}\r\n\r\n@keyframes productNameAppear {\r\n    0% {\r\n        transform: translateY(-100px);\r\n        opacity: 0;\r\n    }\r\n    100% {\r\n        transform: translateY(0);\r\n        opacity: 1;\r\n    }\r\n}\r\n\r\n@keyframes backNameSlideInLeft {\r\n    0% {\r\n        transform: translate3d(-100%, -50%, 0);\r\n        visibility: visible;\r\n    }\r\n    100% {\r\n        transform: translate3d(0, -50%, 0);\r\n    }\r\n}\r\n\r\n@keyframes priceAppear {\r\n    0% {\r\n        opacity: 0;\r\n    }\r\n    100% {\r\n        opacity: 1;\r\n    }\r\n}\r\n\r\n@keyframes write {\r\n    0% {\r\n        // transform: translateY(50%);\r\n        opacity: 0;\r\n\r\n        width: 0px;\r\n    }\r\n    100% {\r\n        // transform: translateY(0);\r\n        opacity: 1;\r\n        width: 100%;\r\n    }\r\n}\r\n\r\n@keyframes productDisAppear {\r\n    from {\r\n        opacity: 1;\r\n        left: 0;\r\n    }\r\n    to {\r\n        opacity: 0;\r\n        left: -2rem;\r\n    }\r\n}\r\n"]}
@font-face {
  font-family: "Cabin";
  src: url("font/Cabin-Regular.eot");
  src: url("font/Cabin-Regular.eot?#iefix") format("embedded-opentype"), url("font/Cabin-Regular.woff2") format("woff2"), url("font/Cabin-Regular.woff") format("woff"), url("font/Cabin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  src: url("font/Cabin-Medium.eot");
  src: url("font/Cabin-Medium.eot?#iefix") format("embedded-opentype"), url("font/Cabin-Medium.woff2") format("woff2"), url("font/Cabin-Medium.woff") format("woff"), url("font/Cabin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  src: url("font/Cabin-Bold.eot");
  src: url("font/Cabin-Bold.eot?#iefix") format("embedded-opentype"), url("font/Cabin-Bold.woff2") format("woff2"), url("font/Cabin-Bold.woff") format("woff"), url("font/Cabin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("font/Gotham-Book.eot");
  src: url("font/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("font/Gotham-Book.woff2") format("woff2"), url("font/Gotham-Book.woff") format("woff"), url("font/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("font/Gotham-Medium.eot");
  src: url("font/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("font/Gotham-Medium.woff2") format("woff2"), url("font/Gotham-Medium.woff") format("woff"), url("font/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("font/Gotham-Bold.eot");
  src: url("font/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("font/Gotham-Bold.woff2") format("woff2"), url("font/Gotham-Bold.woff") format("woff"), url("font/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #23232f;
  color: white;
  font-family: Gotham;
}

.grid-12 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 1rem;
}

.circle {
  width: 1.875rem;
  height: 1.875rem;
  border: 1px solid #676eff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: inline-flex;
}

.callToAction {
  display: inline-block;
  margin-left: 0.6em;
  text-transform: uppercase;
}

.fraction {
  display: none;
  position: relative;
  justify-content: space-between;
  align-self: center;
}
.fraction::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 50%;
  background-color: #72748e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-height: 46.875rem) {
  .fraction {
    display: flex;
  }
}

.curentSlide {
  color: #676eff;
}

.chevrons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrons .fa-solid {
  margin-bottom: 1em;
  color: #72748e;
  cursor: pointer;
  transition: color 0.3s;
}
.chevrons .fa-solid:hover {
  color: white;
}

.vertical-txt {
  display: none;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-weight: 500;
}
@media (min-width: 81.25rem) {
  .vertical-txt {
    display: block;
  }
}

.backName {
  position: absolute;
  z-index: -1;
  color: rgba(114, 116, 142, 0.1137254902);
  font-weight: 700;
  text-transform: uppercase;
}

.curentPrice {
  font-family: Cabin;
  color: #676eff;
}

.hero {
  overflow-x: hidden;
}
.hero__chevrons {
  grid-column: 12;
  grid-row: 5/span 2;
  align-self: center;
}
@media (min-width: 34.75rem) {
  .hero__chevrons {
    align-self: flex-start;
  }
}
.hero__chevrons .fa-solid {
  font-size: calc(1.275rem + 0.490625vw);
  line-height: 1.2;
  margin-bottom: 0;
}
@media (min-width: 50rem) {
  .hero__chevrons .fa-solid {
    font-size: calc(1.9rem + 0.490625vw);
    line-height: 0.8571428571;
    margin-bottom: 1.1428571429em;
  }
}
.hero__vertical-txt {
  grid-row: 2/5;
  align-self: flex-end;
  justify-self: center;
}
.hero__moveDown {
  display: none;
  grid-column: 6;
  grid-row: 6;
  justify-self: center;
  align-self: flex-end;
  cursor: pointer;
  color: #72748e;
  transition: color 0.3s;
}
.hero__moveDown:hover {
  color: white;
}
@media (min-width: 81.25rem) {
  .hero__moveDown {
    display: block;
    font-size: calc(1.9rem + 0.490625vw);
    line-height: 0.8571428571;
    margin-bottom: 1.1428571429em;
  }
}
.hero__social {
  display: none;
  grid-row: 5/span 2;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0.5em;
  font-size: calc(0.9625rem + 0.490625vw);
  line-height: 1.5;
  margin-bottom: 0;
}
.hero__social .fa-brands {
  margin-bottom: 1.36em;
  cursor: pointer;
  transition: color 0.3s;
}
.hero__social .fa-brands:hover {
  color: #676eff;
}
.hero__social .fa-brands:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 81.25rem) {
  .hero__social {
    display: flex;
  }
}
.hero__fraction {
  grid-row: 6;
  grid-column: 5/span 4;
  font-size: calc(0.9rem + 0.490625vw);
  line-height: 1.6666666667;
  margin-bottom: 0;
}
@media (min-width: 81.25rem) {
  .hero__fraction {
    grid-column: 9/span 3;
  }
}
.hero__slider {
  grid-row: 2/span 4;
  grid-column: 1/span 11;
  position: relative;
}
@media (min-width: 81.25rem) {
  .hero__slider {
    grid-column: 2/span 10;
  }
}
.hero__slide {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  row-gap: 0.625rem;
}
@media (min-width: 34.75rem) {
  .hero__slide {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    top: 50%;
    transform: translateY(-50%);
  }
}
.hero__add {
  position: absolute;
  z-index: 10;
  bottom: -1rem;
  cursor: pointer;
}
@media (min-width: 34.75rem) {
  .hero__add {
    bottom: -30%;
  }
}
@media (min-width: 50rem) {
  .hero__add {
    bottom: 0;
  }
}
.hero__addCircle {
  font-size: calc(0.9rem + 0.490625vw);
  line-height: 1.5;
  margin-bottom: 0;
}
@media (min-width: 34.75rem) {
  .hero__addCircle {
    width: calc(1.5rem + 1.5vw);
    height: calc(1.5rem + 1.5vw);
    font-size: calc(1.025rem + 0.490625vw);
    line-height: 1.3636363636;
    margin-bottom: 0;
  }
}
.hero__addText {
  font-size: calc(0.9rem + 0.490625vw);
  line-height: 1.6666666667;
  margin-bottom: 0;
}
.hero__backName {
  left: -2rem;
  top: 45%;
  transform: translateY(-50%);
  font-size: calc(5rem + 1vw);
}
@media (min-width: 34.75rem) {
  .hero__backName {
    top: -3rem;
    font-size: calc(7rem + 1vw);
  }
}
@media (min-width: 60.5rem) {
  .hero__backName {
    top: 50%;
    font-size: calc(10rem + 1vw);
  }
}
@media (min-width: 81.25rem) {
  .hero__backName {
    left: -14%;
    font-size: calc(14rem + 1vw);
  }
}
.hero .flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero__column {
  align-self: center;
}
.hero__column img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.hero__productName {
  font-weight: 700;
  font-size: calc(1.5875rem + 0.490625vw);
  line-height: 1.3333333333;
  margin-bottom: 0.8333333333em;
}
@media (min-width: 34.75rem) {
  .hero__productName {
    font-size: calc(2.2125rem + 0.490625vw);
    line-height: 1.25;
    margin-bottom: 0.875em;
  }
}
@media (min-width: 60.5rem) {
  .hero__productName {
    font-size: calc(3.15rem + 0.490625vw);
    line-height: 1.0909090909;
    margin-bottom: 0.6363636364em;
  }
}
@media (min-width: 81.25rem) {
  .hero__productName {
    font-size: calc(3.775rem + 0.490625vw);
    line-height: 1.2307692308;
    margin-bottom: 0.5384615385em;
  }
}
.hero__price {
  font-family: Cabin;
  font-size: calc(1.2125rem + 0.490625vw);
  line-height: 1.6;
  margin-bottom: 0;
}
@media (min-width: 34.75rem) {
  .hero__price {
    font-size: calc(1.525rem + 0.490625vw);
    line-height: 1.3333333333;
    margin-bottom: 1.1666666667em;
  }
}
@media (min-width: 60.5rem) {
  .hero__price {
    font-size: calc(1.9rem + 0.490625vw);
    line-height: 1.1428571429;
    margin-bottom: 1em;
  }
}
.hero__prevPrice {
  color: #72748e;
  text-decoration: line-through;
  margin-right: 1em;
}
.hero__curentPrice {
  color: #676eff;
}

.hero__slide.active {
  opacity: 1;
}
.hero__slide.active img {
  animation-name: productAppear;
  animation-duration: 1.5s;
}
.hero__slide.active .hero__productName {
  animation-name: productNameAppear;
  animation-duration: 1s;
}
.hero__slide.active .hero__backName {
  animation-name: backNameSlideInLeft;
  animation-duration: 1.5s;
}
.hero__slide.active .hero__price {
  animation-name: priceAppear;
  animation-duration: 2.4s;
}
.hero__slide.active .hero__add {
  overflow: hidden;
  white-space: nowrap;
  animation-name: write;
  animation-duration: 2.4s;
}

.grid-2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
}
@media (min-width: 50rem) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.cg-cart {
  border: 2px solid #72748e;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: relative;
  padding-left: 10.5%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}
@media (hover: hover) {
  .cg-cart:hover img {
    filter: grayscale(0%);
    animation: moveAround infinite 20s linear;
  }
  .cg-cart:hover .mousepad {
    filter: grayscale(0%);
    animation: moveAroundPods infinite 20s linear;
  }
}
@media (min-width: 50rem) {
  .cg-cart:nth-of-type(odd) {
    border-right: 2px solid #72748e;
  }
  .cg-cart:nth-of-type(3) {
    border-bottom: 2px solid #72748e;
  }
}
.cg-cart:last-of-type {
  border-bottom: 2px solid #72748e;
}
.cg-cart__backName {
  top: 47%;
  font-size: calc(5.03125rem + 0.490625vw);
  line-height: 1.1764705882;
  margin-bottom: 0;
}
@media (min-width: 34.75rem) {
  .cg-cart__backName {
    font-size: calc(7rem + 1vw);
  }
}
.cg-cart__titleBox {
  grid-row: 2;
}
.cg-cart__title {
  color: #72748e;
  font-size: calc(0.7125rem + 0.490625vw);
  line-height: 1.25;
  margin-bottom: 0.9375em;
}
.cg-cart__price {
  font-size: calc(1.275rem + 0.490625vw);
  line-height: 1.4;
  margin-bottom: 0;
}
.cg-cart__about {
  grid-row: 4/span 3;
  align-self: center;
}
.cg-cart__heading {
  font-weight: 700;
  font-size: calc(1.275rem + 0.490625vw);
  line-height: 1.2;
  margin-bottom: 0.8em;
}
.cg-cart__img {
  grid-column: 2;
  grid-row: 1/span 6;
}
.cg-cart__img img {
  position: relative;
  transform: scale(1.3);
  max-width: 200%;
  transition: filter 0.3s;
}
@media (hover: hover) {
  .cg-cart__img img {
    filter: grayscale(200%);
  }
}
@media (min-width: 34.75rem) {
  .cg-cart__img img {
    max-width: 160%;
  }
}
@media (min-width: 50rem) and (max-width: 63.4375rem) {
  .cg-cart__img img {
    top: 15%;
  }
}
@media (min-width: 81.25rem) {
  .cg-cart__img img {
    max-width: 140%;
  }
}
.cg-cart__img .keyboard {
  top: 20%;
  right: 20%;
}
@media (min-width: 81.25rem) {
  .cg-cart__img .keyboard {
    right: -5%;
  }
}
.cg-cart__img .mousepad {
  top: 10%;
  right: -40%;
  transform: scale(1.5) rotate(10deg);
}

.grid12x6 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
  margin: 0 1rem;
}

.row {
  margin-top: calc(1rem + 2.5vw);
  border-bottom: 2px solid #72748e;
  position: relative;
  overflow-x: hidden;
}
.row__title {
  grid-column: 1/7;
  grid-row: 1;
  align-self: center;
  font-size: calc(1.275rem + 0.490625vw);
  font-weight: 700;
}
.row__action {
  grid-row: 1;
  grid-column: 6/13;
  align-self: center;
  justify-self: flex-end;
  font-weight: 500;
}
.row__backName {
  top: 50%;
  left: -3%;
  transform: translateY(-50%);
  font-size: calc(4rem + 5vw);
}
@media (min-width: 34.75rem) {
  .row__backName {
    font-size: calc(7rem + 5vw);
  }
}
@media (min-width: 50rem) {
  .row__backName {
    font-size: calc(10rem + 8vw);
  }
}
.row__vertTxt {
  grid-row: 4/7;
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
}
.row__fraction {
  grid-row: 6;
  grid-column: 5/9;
}
@media (min-height: 1rem) {
  .row__fraction {
    display: flex;
  }
}
@media (min-width: 50rem) {
  .row__fraction {
    grid-column: 6/8;
  }
}
.row__chevrons {
  grid-row: 5/7;
  grid-column: 12;
  font-size: calc(1.275rem + 0.490625vw);
  line-height: 1.2;
  margin-bottom: 0;
}
@media (min-width: 50rem) {
  .row__chevrons {
    font-size: calc(1.9rem + 0.490625vw);
    line-height: 0.8571428571;
    margin-bottom: 1.1428571429em;
  }
}
.row__swip {
  grid-row: 2/span 4;
  grid-column: 1/12;
  margin: calc(0.8rem + 1vw) 0;
  align-self: center;
}
@media (min-width: 81.25rem) {
  .row__swip {
    grid-column: 2/12;
  }
}

.rw-card {
  display: flex;
  flex-direction: column;
}
.rw-card__img {
  text-align: center;
}
.rw-card__img img {
  max-width: 100%;
}
.rw-card__body {
  text-align: center;
  margin-top: calc(0.5rem + 1vw);
  flex: 1;
}
.rw-card__name {
  font-weight: 500;
  font-size: calc(0.9625rem + 0.490625vw);
  line-height: 1.65;
  margin-bottom: 0;
}
.rw-card__mark {
  font-size: calc(0.65rem + 0.490625vw);
  line-height: 1.4285714286;
  margin-bottom: 0;
  color: #72748e;
}
.rw-card__price {
  font-size: calc(1.275rem + 0.490625vw);
  line-height: 1.4;
  margin-bottom: 0.6em;
  margin-top: 0.45em;
}
.rw-card__addCircle {
  width: calc(1.1rem + 1vw);
  height: calc(1.1rem + 1vw);
}
@media (min-width: 34.75rem) {
  .rw-card__addCircle {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.rw-card__addCircle .fa-plus {
  font-size: calc(0.6rem + 1vw);
}
@media (min-width: 34.75rem) {
  .rw-card__addCircle .fa-plus {
    font-size: 0.8rem;
  }
}
.rw-card__addText {
  font-size: calc(0.625rem + 0.5vw);
}
@media (min-width: 34.75rem) {
  .rw-card__addText {
    font-size: calc(0.80625rem + 0.490625vw);
    line-height: 1.7058823529;
    margin-bottom: 0;
  }
}

.marg {
  margin-top: 500px;
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0) scale(1.3);
  }
  25% {
    transform: translate(-8%, 8%) scale(1.3);
  }
  100% {
    transform: translate(0%, 0%) scale(1.3);
  }
}
@keyframes moveAroundPods {
  0% {
    transform: translate(0, 0) scale(1.5) rotate(10deg);
  }
  25% {
    transform: translate(-8%, 8%) scale(1.5) rotate(10deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1.5) rotate(10deg);
  }
}
@keyframes productAppear {
  from {
    opacity: 0;
    left: 3rem;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes productNameAppear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes backNameSlideInLeft {
  0% {
    transform: translate3d(-100%, -50%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes priceAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes write {
  0% {
    opacity: 0;
    width: 0px;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes productDisAppear {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -2rem;
  }
}
/*# sourceMappingURL=style.css.map */
